<div class="container mt-3">
  <h1>Create your cocktail</h1>

  <%= simple_form_for @cocktail do |f| %>
    <%= f.input :name %>
    <%= f.input :photo, as: :file %>
    <%= f.submit class:"btn btn-primary" %>
  <% end %>
  <br>
  <%= link_to "All cocktails", root_path, class:"btn btn-warning" %>
</div>
